{% extends "template.njk" %}

{% block content %}

<h1 class="govuk-heading-xl">
  Update Task Status
</h1>

<form method="post">

  <div class="govuk-form-group">

    <label class="govuk-label">
      Status
    </label>

    <select class="govuk-select"
            name="status">

      <option value="TODO">TODO</option>
      <option value="IN_PROGRESS">IN_PROGRESS</option>
      <option value="DONE">DONE</option>

    </select>

  </div>

  <button class="govuk-button">
    Update
  </button>

</form>

{% endblock %}
